<p>
<div class="breadcrumb"><br /><div style="padding-bottom: 20px; color: #ff0000; text-align: center; font-size: 15px;"><strong>Let us help you find quickly the thing you are most looking for !</strong></div>
    <form role="search">
        <div class="form-group">
            <input type="text" class="form-control" placeholder="What type of clothing are you most looking for ?">
        </div>
        <div style="text-align: center;"><button type="submit" class="btn btn-success">Go !</button></div>
    </form>
</div>
</p>
<table class="table table-striped table-hover ">
    <thead>
    <tr>
        <th></th>
        <th style="padding-left: 50px; padding-right: 50px;"><form class="form-horizontal">
            <fieldset>
                <legend>Trending Now</legend>
                <img src="http://lp2.hm.com/hmprod?set=source[/model/2016/D00%200475730%20001%2042%200602.jpg],type[STILLLIFE_FRONT]&hmver=1&call=url[file:/product/listing]" width="194px" height="246px"/>
                <br/><br/>
                <strong><u>Name:</u> This t-shirt</strong>
                <br/><br/>
                <strong>25% discount on this item.</strong>
            </fieldset>
        </form></th>
        <th style="padding-left: 50px; padding-right: 50px;"><form class="form-horizontal">
            <fieldset>
                <legend>Recommended for you</legend>
                <img src="http://lp2.hm.com/hmprod?set=source[/model/2016/E00%200453305%20002%2098%200875.jpg],type[STILLLIFE_FRONT]&hmver=1&call=url[file:/product/listing]" width="194px" height="246px"/>
                <br/><br/>
                <strong><u>Name:</u> The shirt</strong>
                <br/><br/>
                <strong>40% discount on this item.</strong>
            </fieldset>
        </form></th>
        <th style="padding-left: 50px; padding-right: 50px;"><form class="form-horizontal">
            <fieldset>
                <legend>Latest discounts</legend>
                <img src="http://lp2.hm.com/hmprod?set=source[/model/2016/D00%200140427%20056%2067%205103.jpg],type[STILLLIFE_FRONT]&hmver=2&call=url[file:/product/listing]" width="194px" height="246px"/>
                <br/><br/>
                <strong><u>Name:</u> The trousers</strong>
                <br/><br/>
                <strong>50% discount on this item.</strong>
            </fieldset>
        </form></th>
    </tr>
    </thead>
</table>