<div class="container">
    <div class="col-lg-5 container">
        <ul>
            <div class="text-left">
                <h2>Contact us</h2>
                <p>We are helping you find the clothing to suit you best.</p>
                <p>Need some help? Contact us:</p>
                <p>tel:&nbsp;+359888888888<br/>e-mail:&nbsp;info@moddero.com</p>
            </div>
        </ul>
    </div>

    <div class="col-lg-5 container">
        <div class="gs-section-wrap">
            <form action="#gs-contact-form" method="post" class="gs-contact-form" id="gs-contact-form">
                <div class="gs-separator small"></div>
                <h2>Feedback form</h2>
                <div class="gs-separator small"></div>
                <div class="gs-field-box half-block first">
                    <label for="cont-name">Name</label>
                    <input type="text" class="gs-text-fld" name="name" id="cont-name">
                </div>
                <div class="gs-field-box half-block">
                    <label for="cont-mail">e-mail</label>
                    <input type="text" class="gs-text-fld" name="email" id="cont-mail">
                </div>
                <div class="clearfix"></div>
                <div class="gs-field-box">
                    <label for="cont-msg"></label>
                    <textarea name="content" id="cont-msg" class="gs-textarea-fld"></textarea>
                </div>
                <div class="gs-field-box">
                    <input type="submit" class="gs-sbm-cont" id="gs-sbm-cont" value="Submit">
                </div>
            </form>
        </div>
    </div>
</div>