<!DOCTYPE html>
<html>
<head>
    <title>Moddero</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="/javascripts/jquery-1.10.2.js"></script>
    <script src="/javascripts/bootstrap.js"></script>
</head>
<body>
    <header>
        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="/">Moddero</a>
                </div>
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav">
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Women <span class="caret"></span></a>
                            <ul class="dropdown-menu" role="menu">
                                <li><table class="table table-striped table-hover ">
                                    <thead>
                                    <tr>
                                        <th style="color: #ffffff">Clothing</th>
                                        <th style="color: #ffffff">Shoes</th>
                                        <th style="color: #ffffff">Accessories</th>
                                    </tr>
                                    <tr>
                                        <th style="color: #ffffff"><a href="#">Coats</a></th>
                                        <th style="color: #ffffff"><a href="#">Boots</a></th>
                                        <th style="color: #ffffff"><a href="#">Belts</a></th>
                                    </tr>
                                    <tr>
                                        <th style="color: #ffffff"><a href="#">Dresses</a></th>
                                        <th style="color: #ffffff"><a href="#">Sandals</a></th>
                                        <th style="color: #ffffff"><a href="#">Gloves</a></th>
                                    </tr>
                                    <tr>
                                        <th style="color: #ffffff"><a href="#">Skirts</a></th>
                                        <th style="color: #ffffff"><a href="#">Trainers</a></th>
                                        <th style="color: #ffffff"><a href="#">Wallets & Purses</a></th>
                                    </tr>
                                    </thead>
                                </table></li>
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Men <span class="caret"></span></a>
                            <ul class="dropdown-menu" role="menu">
                                <li><table class="table table-striped table-hover ">
                                    <thead>
                                    <tr>
                                        <th style="color: #ffffff">Clothing</th>
                                        <th style="color: #ffffff">Shoes</th>
                                        <th style="color: #ffffff">Accessories</th>
                                    </tr>
                                    <tr>
                                        <th style="color: #ffffff"><a href="#">Coats</a></th>
                                        <th style="color: #ffffff"><a href="#">Boots</a></th>
                                        <th style="color: #ffffff"><a href="#">Belts</a></th>
                                    </tr>
                                    <tr>
                                        <th style="color: #ffffff"><a href="#">Dresses</a></th>
                                        <th style="color: #ffffff"><a href="#">Sandals</a></th>
                                        <th style="color: #ffffff"><a href="#">Gloves</a></th>
                                    </tr>
                                    <tr>
                                        <th style="color: #ffffff"><a href="#">Skirts</a></th>
                                        <th style="color: #ffffff"><a href="#">Trainers</a></th>
                                        <th style="color: #ffffff"><a href="#">Wallets & Purses</a></th>
                                    </tr>
                                    </thead>
                                </table></li>
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Kids <span class="caret"></span></a>
                            <ul class="dropdown-menu" role="menu">
                                <li><table class="table table-striped table-hover ">
                                    <thead>
                                    <tr>
                                        <th style="color: #ffffff">Trousers</th>
                                        <th style="color: #ffffff">Jackets</th>
                                        <th style="color: #ffffff">Shoes</th>
                                    </tr>
                                    <tr>
                                        <th style="color: #ffffff"><a href="#">Coats</a></th>
                                        <th style="color: #ffffff"><a href="#">Boots</a></th>
                                        <th style="color: #ffffff"><a href="#">Belts</a></th>
                                    </tr>
                                    <tr>
                                        <th style="color: #ffffff"><a href="#">Dresses</a></th>
                                        <th style="color: #ffffff"><a href="#">Sandals</a></th>
                                        <th style="color: #ffffff"><a href="#">Gloves</a></th>
                                    </tr>
                                    <tr>
                                        <th style="color: #ffffff"><a href="#">Skirts</a></th>
                                        <th style="color: #ffffff"><a href="#">Trainers</a></th>
                                        <th style="color: #ffffff"><a href="#">Wallets & Purses</a></th>
                                    </tr>
                                    </thead>
                                </table></li>
                            </ul>
                        </li>
                    </ul>
                    {{#unless user}}
                        <ul class="nav navbar-nav navbar-right">
                            <li><a href="/user/register">Register</a></li>
                            <li><a href="/user/login">Login</a></li>
                        </ul>
                    {{/unless}}
                    {{#if user}}
                        <ul class="nav navbar-nav navbar-right">
                            {{#if isAdmin}}
                                <li class="dropdown">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown"
                                       role="button" aria-expanded="false">Admin<span class="caret"></span></a>
                                    <ul class="dropdown-menu" role="menu">
                                        <li><a href="/admin/user/all">Users</a></li>
                                        <li><a href="/admin/category/all">Categories</a></li>
                                    </ul>
                                </li>
                            {{/if}}
                            <li><a href="/user/details">My Profile</a></li>
                            <li><a href="/article/create">New Article</a></li>
                            <li><a href="/user/logout">Logout</a></li>
                        </ul>
                    {{/if}}
                </div>
            </div>
        </nav>
    </header>
    {{#if error }}
        <h2>{{error}}</h2>
    {{/if}}
    {{{body}}}
</body>
<footer>
    <div class="moddero-footer">
    <div class="moddero-footer-wrapper">
                        <table style="padding-left: 342px" class="table table-striped table-hover ">
                                <thead>
                                <tr>
                                    <th style="color: #ffffff">Customer Service</th>
                                    <th style="color: #ffffff">About Moddero</th>
                                    <th style="color: #ffffff">Follow Us</th>
                                </tr>
                                <tr>
                                    <th style="color: #ffffff"><a href="#">Help & Contact Us</a></th>
                                    <th style="color: #ffffff"><a href="#">About Us</a></th>
                                    <th style="color: #ffffff"></th>
                                </tr>
                                <tr>
                                    <th style="color: #ffffff"><a href="#">FAQs</a></th>
                                    <th style="color: #ffffff"><a href="#">Careers</a></th>
                                    <th style="color: #ffffff">Quick bar</th>
                                </tr>
                                <tr>
                                    <th style="color: #ffffff"><a href="#">Terms & Conditions</a></th>
                                    <th style="color: #ffffff"><a href="#">Sitemap</a></th>
                                    <th style="color: #ffffff">
                                    </th>
                                </tr>
                                </thead>
                        </table>
                        <div class="moddero-footer-bottom-container">
                            <div class="moddero-footer-bottom-column moddero-footer-bottom-column-right">
                                <div class="moddero-footer-copyright-part">
                                    <span>
                                        <h6>&#169; Copyright 2016 Moddero. All rights reserved.</h6>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
    </div>
</footer>
</html>
