<!DOCTYPE html>
<html>
<head>
    <title>Moddero</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="/javascripts/jquery-1.10.2.js"></script>
    <script src="/javascripts/bootstrap.js"></script>
</head>
<body>
    <header>
        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="/">Moddero</a>
                </div>
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav">
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Women <span class="caret"></span></a>
                            <ul class="dropdown-menu" role="menu">
                                <li><table class="table table-striped table-hover ">
                                    <thead>
                                    <tr>
                                        <th style="color: #ffffff">Clothing</th>
                                        <th style="color: #ffffff">Shoes</th>
                                        <th style="color: #ffffff">Accessories</th>
                                    </tr>
                                    <tr>
                                        <th style="color: #ffffff"><a href="http://localhost:3000/category/5857e944c2562b80ea2c3442">Coats</a></th>
                                        <th style="color: #ffffff"><a href="http://localhost:3000/category/58593a4110ee150acdb4d652">Boots</a></th>
                                        <th style="color: #ffffff"><a href="http://localhost:3000/category/58593ad110ee150acdb4d655">Belts</a></th>
                                    </tr>
                                    <tr>
                                        <th style="color: #ffffff"><a href="http://localhost:3000/category/5857e9a2c2562b80ea2c3443">Dresses</a></th>
                                        <th style="color: #ffffff"><a href="http://localhost:3000/category/58593a8c10ee150acdb4d653">Sandals</a></th>
                                        <th style="color: #ffffff"><a href="http://localhost:3000/category/58593ad910ee150acdb4d656">Gloves</a></th>
                                    </tr>
                                    <tr>
                                        <th style="color: #ffffff"><a href="http://localhost:3000/category/585939a8de895b08a2b90d7d">Skirts</a></th>
                                        <th style="color: #ffffff"><a href="http://localhost:3000/category/58593a9610ee150acdb4d654">Trainers</a></th>
                                        <th style="color: #ffffff"><a href="http://localhost:3000/category/58593b0610ee150acdb4d657">Wallets & Purses</a></th>
                                    </tr>
                                    </thead>
                                </table></li>
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Men <span class="caret"></span></a>
                            <ul class="dropdown-menu" role="menu">
                                <li><table class="table table-striped table-hover ">
                                    <thead>
                                    <tr>
                                        <th style="color: #ffffff">Clothing</th>
                                        <th style="color: #ffffff">Shoes</th>
                                        <th style="color: #ffffff">Accessories</th>
                                    </tr>
                                    <tr>
                                        <th style="color: #ffffff"><a href="http://localhost:3000/category/58593b5e10ee150acdb4d658">Jackets</a></th>
                                        <th style="color: #ffffff"><a href="http://localhost:3000/category/58593c1910ee150acdb4d65b">Boots</a></th>
                                        <th style="color: #ffffff"><a href="http://localhost:3000/category/58593c6910ee150acdb4d65e">Belts</a></th>
                                    </tr>
                                    <tr>
                                        <th style="color: #ffffff"><a href="http://localhost:3000/category/58593b6510ee150acdb4d659">Polo Shirts</a></th>
                                        <th style="color: #ffffff"><a href="http://localhost:3000/category/58593c2110ee150acdb4d65c">Sandals</a></th>
                                        <th style="color: #ffffff"><a href="http://localhost:3000/category/58593c7010ee150acdb4d65f">Gloves</a></th>
                                    </tr>
                                    <tr>
                                        <th style="color: #ffffff"><a href="http://localhost:3000/category/58593b6c10ee150acdb4d65a">Suits</a></th>
                                        <th style="color: #ffffff"><a href="http://localhost:3000/category/58593c2710ee150acdb4d65d">Trainers</a></th>
                                        <th style="color: #ffffff"><a href="http://localhost:3000/category/58593c7b10ee150acdb4d660">Wallets & Cardholders</a></th>
                                    </tr>
                                    </thead>
                                </table></li>
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Kids <span class="caret"></span></a>
                            <ul class="dropdown-menu" role="menu">
                                <li><table class="table table-striped table-hover ">
                                    <thead>
                                    <tr>
                                        <th style="color: #ffffff">Girls</th>
                                        <th style="color: #ffffff"></th>
                                        <th style="color: #ffffff">Boys</th>
                                    </tr>
                                    <tr>
                                        <th style="color: #ffffff"><a href="http://localhost:3000/category/58593cf010ee150acdb4d661">Dresses</a></th>
                                        <th style="color: #ffffff"></th>
                                        <th style="color: #ffffff"><a href="http://localhost:3000/category/58593d4210ee150acdb4d664">Shorts</a></th>
                                    </tr>
                                    <tr>
                                        <th style="color: #ffffff"><a href="http://localhost:3000/category/58593cff10ee150acdb4d662">Jackets</a></th>
                                        <th style="color: #ffffff"></th>
                                        <th style="color: #ffffff"><a href="http://localhost:3000/category/58593d4f10ee150acdb4d665">Jackets</a></th>
                                    </tr>
                                    <tr>
                                        <th style="color: #ffffff"><a href="http://localhost:3000/category/58593d0710ee150acdb4d663">Shoes</a></th>
                                        <th style="color: #ffffff"></th>
                                        <th style="color: #ffffff"><a href="http://localhost:3000/category/58593d5910ee150acdb4d666">Shoes</a></th>
                                    </tr>
                                    </thead>
                                </table></li>
                            </ul>
                        </li>
                    </ul>
                    {{#unless user}}
                        <ul class="nav navbar-nav navbar-right">
                            <li><a href="/user/register">Register</a></li>
                            <li><a href="/user/login">Login</a></li>
                        </ul>
                    {{/unless}}
                    {{#if user}}
                        <ul class="nav navbar-nav navbar-right">
                            {{#if isAdmin}}
                                <li class="dropdown">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown"
                                       role="button" aria-expanded="false">Admin<span class="caret"></span></a>
                                    <ul class="dropdown-menu" role="menu">
                                        <li><a href="/admin/user/all">Users</a></li>
                                        <li><a href="/admin/category/all">Categories</a></li>
                                    </ul>
                                </li>
                            {{/if}}
                            <li><a href="/user/details">My Profile</a></li>
                            <li><a href="/article/create">New Clothing Type</a></li>
                            <li><a href="/user/logout">Logout</a></li>
                        </ul>
                    {{/if}}
                </div>
            </div>
        </nav>
    </header>
    {{#if error }}
        <h2>{{error}}</h2>
    {{/if}}
    {{{body}}}
</body>
<footer>
    <div class="moddero-footer">
    <div class="moddero-footer-wrapper">
                        <table style="padding-left: 342px;" class="table table-striped table-hover ">
                                <thead>
                                <tr>
                                    <th style="color: #ffffff">Customer Service</th>
                                    <th style="color: #ffffff">About Moddero</th>
                                    <th style="color: #ffffff">Follow Us</th>
                                    </tr>
                                <tr>
                                    <th style="color: #ffffff"><a href="http://localhost:3000/contactus">Help & Contact Us</a></th>
                                    <th style="color: #ffffff"><a href="#">About Us</a></th>
                                    <th style="color: #ffffff"></th>
                                    </tr>
                                <tr>
                                    <th style="color: #ffffff"><a href="#">FAQs</a></th>
                                    <th style="color: #ffffff"><a href="#">Careers</a></th>
                                    <th style="color: #ffffff">Quick bar</th>
                                    </tr>
                                <tr>
                                    <th style="color: #ffffff"><a href="#">Terms & Conditions</a></th>
                                    <th style="color: #ffffff"><a href="#">Sitemap</a></th>
                                    <th style="color: #ffffff"></th>
                                </tr>
                                </thead>
                        </table>
                        <div class="moddero-footer-bottom-container">
                            <div class="moddero-footer-bottom-column moddero-footer-bottom-column-right">
                                <div class="moddero-footer-copyright-part">
                                    <span>
                                        <h6>&#169; Copyright 2016 Moddero. All rights reserved.</h6>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
    </div>
</footer>
</html>
