<div class="container">
    <div class="col-lg-10" title="terms-and-conditions">
        <div class="text-left" title="first-paragraph">
            <h2 class="text-left">Terms and conditions</h2> <br>
            <p class="text-left">These terms and conditions (together with the information and
                policies contained in the &quot; Customer Service&quot; pages on the website and any other documents
                referred in these terms and conditions) (&quot;Terms and Conditions&quot;) set out the legal terms that
                apply to your use of our website <a href="#">www.moddero.com</a> (the &quot;Website&quot;) and the other
                services that we provide (the &quot;Services&quot;).
            </p><br>
        </div>

        <div class="text-left" title="second-p">
            <h4 class="text-left">1. Understanding these Terms and Conditions</h4>
            <p class="text-left">
                When certain words and phrases are used in these Terms and Conditions, they have
                specific
                meanings (these are known as &#39;defined terms&#39;). You can identify these defined terms because they
                start with capital letters (even if they are not at the start of a sentence). Where a defined term is
                used,
                it has the meaning given to it in the section of the Terms and Conditions where it was defined (you can
                find
                these meanings by looking at the sentence where the defined term is included in brackets and speech
                marks).
            </p><br>
        </div>

        <div class="text-left" title="third-p">
            <h4 class="text-left">2. About us</h4>
            <p class="text-left">
                We are Moddero BG and we operate the Website. We are a company registered in Bulgaria, Sofia and
                our registered office is at 26 Gosho Petrov Street, Sofia, Bulgaria. Our registered
                company number is 07777777 and our VAT number is BG 007 0707 77
            </p><br>
        </div>

        <div class="text-left" title="fourth-p">
            <h4 class="text-left">3. Our sevices</h4>
            <p class="text-left">
                The Services we offer allow you to search through the Website and purchase products from a number of
                Partner Boutiques. As part of the Services, we also provide some ancillary services such as arranging
                delivery of the products and providing you with customer service assistance. However, as stated above,
                the contract for the purchase of the products is between you and the Partner Boutique. This means that
                it is the Partner Boutique (not us) who is legally responsible for selling the products to you.
            </p><br>
        </div>

        <div class="text-left" title="fifth-p">
            <h4 class="text-left">4. Our liability to you in relation to the Services</h4>
            <p class="text-left">
                If, in providing the Services to you, we fail to comply with these Terms and Conditions, we are
                responsible for loss or damage you suffer that is a foreseeable result of our breach of these Terms and
                Conditions or our negligence, but we are not responsible for any loss or damage that is not foreseeable.
                Loss or damage is foreseeable if it was an obvious consequence of our breach or if it was contemplated
                by you and us at the time you started using the Services.
                We do not in any way exclude or limit our liability for:
            </p><br>
        </div>
    </div>
</div>