@media (min-width: 1025px) {
    .normal-ratio-12.resp-ratio:before {
        padding-top: 48.61111111111111%
    }

    .wide-ratio-12.resp-ratio:before {
        padding-top: 14.58333333333333%
    }

    .half-ratio-12.resp-ratio:before {
        padding-top: 24.305555555556%
    }

    .normal-ratio-8.resp-ratio:before, .half-ratio-4.resp-ratio:before {
        padding-top: 52.08333333333333%
    }

    .normal-ratio-6.resp-ratio:before {
        padding-top: 78.57142857142857%
    }

    .wide-ratio-6.resp-ratio:before {
        padding-top: 30%
    }

    .normal-ratio-4.resp-ratio:before {
        padding-top: 104.1666666666667%
    }

    .wide-ratio-4.resp-ratio:before {
        padding-top: 43.75%
    }

    .xlwide-ratio-4.resp-ratio:before {
        padding-top: 36.45833333333333%
    }
}

@media (min-width: 768px) and (max-width: 1024px) {
    .normal-ratio-12.resp-ratio:before {
        padding-top: 48.828125%
    }

    .wide-ratio-12.resp-ratio:before {
        padding-top: 20.5078125%
    }

    .half-ratio-12.resp-ratio:before {
        padding-top: 24.305555555556%
    }

    .normal-ratio-8.resp-ratio:before {
        padding-top: 52.55474452554745%
    }

    .normal-ratio-6.resp-ratio:before {
        padding-top: 76%
    }

    .wide-ratio-6.resp-ratio:before {
        padding-top: 42%
    }

    .normal-ratio-4.resp-ratio:before {
        padding-top: 104.3478260869565%
    }

    .wide-ratio-4.resp-ratio:before, .xlwide-ratio-4.resp-ratio:before {
        padding-top: 63.63636363636364%
    }

    .half-ratio-4.resp-ratio:before {
        padding-top: 52.17391304347826%
    }
}

@media (min-width: 481px) and (max-width: 767px) {
    .normal-ratio-12.resp-ratio:before {
        padding-top: 48.828125%
    }

    .wide-ratio-12.resp-ratio:before, .half-ratio-12.resp-ratio:before {
        padding-top: 27.34375%
    }

    .normal-ratio-8.resp-ratio:before {
        padding-top: 52.08333333333333%
    }

    .normal-ratio-6.resp-ratio:before {
        padding-top: 64.28571428571429%
    }

    .wide-ratio-6.resp-ratio:before, .wide-ratio-4.resp-ratio:before, .xlwide-ratio-4.resp-ratio:before {
        padding-top: 30%
    }

    .normal-ratio-4.resp-ratio:before {
        padding-top: 52.08333333333333%
    }

    .half-ratio-4.resp-ratio:before {
        padding-top: 52.08333333333333%
    }
}

@media (max-width: 480px) {
    .normal-ratio-12.resp-ratio:before {
        padding-top: 78.125%
    }

    .wide-ratio-12.resp-ratio:before, .half-ratio-12.resp-ratio:before, .wide-ratio-6.resp-ratio:before, .wide-ratio-4.resp-ratio:before, .xlwide-ratio-4.resp-ratio:before {
        padding-top: 43.75%
    }

    .normal-ratio-8.resp-ratio:before {
        padding-top: 52.08333333333333%
    }

    .normal-ratio-6.resp-ratio:before {
        padding-top: 66.66666666666667%
    }

    .normal-ratio-4.resp-ratio:before, .half-ratio-4.resp-ratio:before {
        padding-top: 52.08333333333333%
    }
}

@media (min-width: 1025px) {
    .container.landing {
        max-width: 1444px;
        margin-bottom: -5px
    }
}

@media (max-width: 1024px) {
    .container.landing {
        padding: 0
    }
}

footer {
    padding: 0
}

.landing-module-boutique-container {
    padding: 0 2px 2px 2px
}

@media (max-width: 1024px) {
    .landing-module-boutique-container {
        padding: 1px
    }
}

.landing-module-boutique-title {
    padding: 25px 20px 20px 20px
}

@media (max-width: 1024px) {
    .landing-module-boutique-title {
        padding: 20px
    }
}

@media (max-width: 480px) {
    .landing-module-boutique-container .module-content {
        padding: 0 10px;
        top: 10px
    }
}

@media (max-width: 1024px) {
    .gender-modules {
        padding-top: 10px;
        margin: 10px 0
    }
}

@media (max-width: 480px) {
    .gender-modules {
        padding: 0px;
        margin: 0 0 10px 0
    }
}

.landing-module-container {
    position: relative
}

.landing-module-container:before {
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
    border: 2px solid #f5f5f5;
    z-index: 1
}

.landing-module-privateSale-container {
    position: relative
}

.landing-module-privateSale-container:before {
    content: '';
    position: absolute;
    height: 100%;
    border: 2px solid #f5f5f5;
    z-index: 1
}

@media (max-width: 1024px) {
    .landing-module-container:before {
        border: 1px solid #f5f5f5
    }
}

.landing-module-container.no-underline:before {
    border-bottom: 0
}

.module-image {
    width: 100%
}

.module-content {
    width: 90%;
    position: absolute;
    top: 20px;
    padding: 0 25px;
    z-index: 1
}

@media (max-width: 480px) {
    .module-content {
        padding: 0 10px;
        top: 10px
    }
}

@media (max-width: 767px) {
    .module-content {
        width: 80%
    }
}

.module-content-link {
    position: absolute;
    display: block;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0
}

.module-cta span {
    display: block;
    padding: 0 20px 0 10px
}

.module-cta2.color-white {
    border-bottom: 1px solid #fff
}

@media (max-width: 480px) {
    .module-content-title {
        font-size: 18px;
        font-size: 1.8rem;
        line-height: 2.61rem
    }
}

.module-mask {
    position: absolute;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: #222;
    -webkit-transition: opacity 0.2s ease-in-out;
    transition: opacity 0.2s ease-in-out;
    opacity: 0
}

.module-mask:before {
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
    border: 2px solid #f5f5f5;
    z-index: 1
}

@media (max-width: 1024px) {
    .module-mask:before {
        border: 0
    }
}

.module-mask.no-border:before {
    border: 0
}

.no-touch .module-figure:hover .module-mask {
    -webkit-transition: opacity 0.2s ease-in-out;
    transition: opacity 0.2s ease-in-out;
    opacity: 0.2
}

.module-content.alternative-right, .module-content.alternative-left {
    top: 0;
    padding: 22px;
    width: 50%;
    height: 100%;
    background-color: #fff
}

.img-alternative-left, .module-content.alternative-right {
    right: 0
}

.img-alternative-right, .module-content.alternative-left {
    left: 0
}

.img-alternative-left, .img-alternative-right {
    width: 50% !important
}

.module-content.centered, .module-content.centered .module-content-container, .module-content.centered .iis-caption-content, .module-content.centered .module-ctaForm {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex
}

.module-content.centered {
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto
}

.module-content.centered .module-ctaForm, .module-content.centered .module-content-text {
    -ms-justify-content: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center
}

.module-content.centered .module-content-container, .module-content.centered .iis-caption-content {
    -ms-flex-flow: column wrap;
    flex-flow: column wrap;
    margin: auto;
    width: 100%
}

.is-ie .module-content.centered {
    top: 40%;
    width: 100%
}

.is-ie .module-content.iis-caption.centered {
    position: relative
}

@media (max-width: 767px) {
    .highlightedContent .module-content-title {
        font-size: 24px;
        font-size: 2.4rem;
        line-height: 3.48rem
    }
}

@media (min-width: 767px) {
    .highlightedContent .module-content-title {
        font-size: 30px;
        font-size: 3rem;
        line-height: 1
    }
}

@media (min-width: 1024px) {
    .highlightedContent .slug {
        font-size: 18px;
        font-size: 1.8rem;
        line-height: 2.61rem
    }

    .highlightedContent .module-content-title {
        font-size: 70px;
        font-size: 7rem;
        line-height: 10.15rem;
        line-height: 1;
        letter-spacing: .08em
    }

    .highlightedContent .module-cta2, .highlightedContent .module-content-text {
        font-size: 16px;
        font-size: 1.6rem;
        line-height: 2.32rem
    }
}

.module-categories {
    border: 2px solid #f5f5f5;
    background-color: #fff;
    overflow: hidden;
    z-index: 2
}

@media (max-width: 1024px) {
    .module-categories {
        border: 1px solid #f5f5f5
    }
}

@media (max-width: 767px) {
    .module-categories:before {
        padding-top: 0 !important
    }
}

.module-categories-list {
    padding: 10px 20px;
    text-align: center
}

.module-categories-list.border {
    border-bottom: 2px solid #f5f5f5
}

.list-item {
    display: inline-block;
    padding: 5px
}

.v-list-item {
    padding: 5px 0
}

@media (max-width: 1024px) {
    .v-list-item {
        padding: 3px 0
    }
}

.v-list-title {
    padding-bottom: 5px
}

@media (max-width: 1024px) {
    .v-list-title {
        padding-bottom: 3px
    }
}

.v-list-module {
    position: absolute;
    top: 0;
    left: 0;
    padding: 20px
}

@media (max-width: 767px) {
    .v-list-module {
        position: relative
    }
}

@media (max-width: 480px) {
    .v-list-module {
        padding: 10px
    }
}

.flexbox-switch {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex
}

@media (max-width: 767px) {
    .flexbox-switch {
        -webkit-box-orient: vertical;
        -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
        flex-direction: column-reverse
    }
}

#select_country_chosen {
    border: 1px solid #dddddd
}

.button_voguesize {
    width: 210px
}

@media (max-width: 1024px) and (min-width: 768px) {
    .button_voguesize {
        width: 80%
    }
}

@media (max-width: 480px) {
    .button_voguesize {
        width: 100%
    }
}