abs-gender::before {
    position: fixed;
    content: '';
    display: block;
    width: 1px;
    height: 30px;
    background-color: #ccc
}

#search-tabs-gender::after {
    margin: 10px 33.33%
}

#search-tabs-gender::before {
    margin: 10px 66.66%
}

#search-tabs-gender .tabs-gender, #header-tabs-container .tabs-gender {
    width: 33.33%;
    text-align: cex .1em
}

#search-tabs-gender .tabs-gender a {
    margin-right: 0;

    padding: 16px 0 13px;
}

@media only screen and (max-width: 1024px) {
    #{position:fixed;width:100%;background-color:#fff}#search-tabs-gender::after, #search-t
}